table, td, th{

    border-top: 1px solid;
    border-collapse: collapse;
    border-color: #ddd;
}

table{

    width: 100%
}

td, th{

    padding: 10px;
}

.container{

width: 80%;
padding-top: 40px;

}

th{

    background-color: dodgerblue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

caption{

    background-color: orange;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    width: 30%;
    border-radius: 10px;
    color: white;
}